- 
    let menuItems = [
        {
            text: "Home",
            href: "/"
        },
        {
            text: "Blog",
            href: "/blog"
        },
        {
            text: "About us",
            href: "/about"
        },
        {
            text: "Contact us",
            href: "/contact"
        }
    ]
mixin head(title, descripton, keywords)
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content=descripton)
        meta(name="keywords", content=keywords)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Sen:wght@700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/style.min.css")
        title=title 
mixin button(text)
    a(href="#").button=text
mixin logo(href='/', img='img/logo.svg', alt='Finsweet')
    a(href=href).logo #[img(src=img, alt=alt)]
mixin menu(items)
    ul.menu__list
        for item in items
            li.menu__item #[h6 #[a(href=item.href).menu__link #{item.text}]]  